///fonts///

$font-family: 'Open Sans', Arial, sans-serif;
$light: 300;
$normal: 400;
$bold: 700;
$font-size: 14px;
$font-size-big: 18px;
$font-size-title: 24px;

///colors///

$bg-main: #fff;
$bg-second: #f2f2f2;
$font-color-main: #283645;
$font-color-second: #fff;
$font-color-third: #000;
$header-color: #1d2631;
$header-menu-color: #283645;
$border-light: #485461;
$border-dark: #000;

///screen///

$screen-sm: 320px;


