.contacts {
  padding-bottom: 40px;
  background-color: $bg-main;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;

  @media (min-width: $screen-md) {
    padding-top: 0;
    padding-bottom: 10px;
  }

  @media (min-width: $screen-lg) {
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
  }
}

.contacts__promo {
  font-size: $font-size-title;
  font-weight: $light;
  margin-bottom: 24px;
  line-height: 1.2em;

  @media (min-width: $screen-md) {
    font-size: $font-size-super-big;
    margin-top: 49px;
    line-height: 1.2em;
  }

  @media (min-width: $screen-lg) {
    font-size: $font-size-gigant;
    line-height: 1em;
  }
}

.contacts__promo-wrap {

  @media (min-width: $screen-md) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $screen-lg) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.contacts__item {
  margin-bottom: 9px;
  white-space: pre-line;

  @media (min-width: $screen-md) {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin-bottom: 25px;
  }

  @media (min-width: $screen-lg) {
    display: block;
    width: 33%;
    vertical-align: top;
  }

  &--order-1 {

    @media (min-width: $screen-lg) {
      order: 1;
    }
  }

  &--order-2 {

    @media (min-width: $screen-lg) {
      order: 2;
    }
  }

  &--order-3 {

    @media (min-width: $screen-lg) {
      order: 3;
    }
  }
}

.contacts__title {
  font-size: $font-size-big;
  font-weight: $bold;
}

.contacts__data {
  text-decoration: none;
  font-size: $font-size-title;
  font-weight: $light;
  color: $main-color;
}

.contacts__title-wrap {

  @media (min-width: $screen-lg) {
    margin-bottom: 2px;
  }
}
