.contacts {
  background-color: $bg-main;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;

  @media (min-width: $screen-md) {
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $screen-lg) {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
  }
}

.contacts__item {
  margin-bottom: 21px;

  @media (min-width: $screen-md) {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-bottom: 10px;
    margin-top: 26px;
  }

  @media (min-width: $screen-lg) {
    display: block;
    width: 29%;
    vertical-align: top;
  }

  &--order-1 {

    @media (min-width: $screen-lg) {
      order: 1;
    }
  }

  &--order-2 {

    @media (min-width: $screen-lg) {
      order: 2;
    }
  }

  &--order-3 {

    @media (min-width: $screen-lg) {
      order: 3;
    }
  }

  &--margin-left {

    @media (min-width: $screen-md) {
      margin-left: 33px;
    }

    @media (min-width: $screen-lg) {
      margin-left: 0;
    }
  }

  &--margin-right {

    @media (min-width: $screen-md)  {
      margin-right: 20px;
    }

    @media (min-width: $screen-lg) {
      margin-right: 0;
    }
  }
}

.contacts__title {
  display: block;
  font-size: $font-size-big;
  font-weight: $bold;
  margin-bottom: 5px;
}

.contacts__data {
  text-decoration: none;
  font-size: $font-size-title;
  font-weight: $light;
  color: $main-color;
  line-height: 1.3em;
  white-space: pre-wrap;

  @media (min-width: $screen-lg) {
    display: inline-block;
    vertical-align: top;
    margin-top: 17px
  }

  &--mail {

    &:hover {
      color: $font-color-main;
      text-decoration: underline;
    }

    &:focus {
      color: $grey-light;
      text-decoration: none;
    }
  }
}
