.download {
  position: relative;
  z-index: 0;
  padding-top: 394px;


  @media (min-width: $screen-md) {
    padding-top: 0;
    min-height: 618px;
    @include clearfix;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -68px;
    left: 0;
    right: 0;
    height: 462px;
    background: url('../img/bg-back-mobile@1x.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:$header-color;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url('../img/bg-back-mobile@2x.jpg');
      background-repeat: no-repeat;
      background-size: 700px auto;
      background-position: bottom center;
    }

    @media (min-width: $screen-md) {
      height: 727px;
      top: -109px;
      background: url('../img/bg-back-tablet@1x.jpg');
      background-repeat: no-repeat;
      background-position: bottom center;


      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: url('../img/bg-back-tablet@2x.jpg');
        background-repeat: no-repeat;
        background-size: 1200px auto;
        background-position: bottom center;
      }
    }

    @media (min-width: $screen-lg) {
      height: 847px;
      background: url('../img/bg-back-desktop@1x.jpg');
      background-repeat: no-repeat;
      background-position: bottom center;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: url('../img/bg-back-desktop@2x.jpg');
        background-repeat: no-repeat;
        background-size: 2560px auto;
        background-position: bottom center;
      }
    }
  }

  &:after {

    @media (max-width: $screen-md - 1px) {
      content: '';
      position: absolute;
      z-index: -1;
      top: 108px;
      left: 154px;
      width: 257px;
      height: 296px;
      transform: translateX(-155px);
      background: url('../img/iphone-hand-mobile@1x.png');
      background-position: 0 0;
      background-repeat: no-repeat;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: url('../img/iphone-hand-mobile@2x.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 258px 286px;
      }
    }
  }
}

.download__os-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 18px;

  @media (min-width: $screen-md) {
    margin-top: 28px;
    margin-bottom: 27px;
  }

  @media (min-width: $screen-lg) {
    padding-top: 37px;
  }
}

.download__link {
  text-decoration: none;
  color: $font-color-second;
  display: inline-block;
  vertical-align: bottom;
  cursor: pointer;

  &--android {

    @media (min-width: $screen-md) {
      opacity: 0.4;
    }

    @media (min-width: $screen-lg) {
      opacity: 1;
    }
  }
}

.download__item {
  margin-left: 17px;
  margin-right: 17px;

  @media (min-width: $screen-md) {
    margin-left: 18px;
    margin-right: 18px;
  }
}

.download__inner {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 17px;
  overflow-x: hidden;

  @media (min-width: $screen-md) {
    width: 620px;
    margin: 0 auto;
    padding-top: 91px;
    padding-bottom: 93px;
    @include clearfix;
    position: relative;
  }

  @media (min-width: $screen-lg) {
    width: 940px;
    margin: 0 auto;
    padding-top: 84px;
    padding-bottom: 109px;
    @include clearfix;
    position: relative;
  }

  &:before {

    @media (min-width: $screen-md) {
      position: absolute;
      content: '';
      top: auto;
      bottom: 0;
      left: -41px;
      width: 700px;
      height: 547px;
      background: url('../img/iphone-hand-tablet@1x.png');
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: url('../img/iphone-hand-tablet@2x.png');
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 700px auto;
      }
    }

    @media (min-width: $screen-lg) {
      top: auto;
      bottom: 0;
      left: 15px;
      width: 900px;
      height: 645px;
      background: url('../img/iphone-hand-desktop@1x.png');
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: url('../img/iphone-hand-desktop@2x.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 1050px 645px;
      }
    }
  }
}

.download__descr {
  font-size: $font-size;
  font-weight: $light;
  line-height: 1.714em;
  padding-top: 5px;

  @media (min-width: $screen-md) {
    font-size: $font-size-big;
    line-height: 1.333em;
  }

  @media (min-width: $screen-lg) {
    padding-top: 27px;
  }
}

.download__container {

  @media (min-width: $screen-md) {
    width: 300px;
    float: left;
    position: relative;
  }
}

.download__title {

  @media (min-width: $screen-md) {
    font-weight: $light;
    font-size: $font-size-super-big;
    line-height: 1.2em;
    display: block;
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 33px;
  }

  @media (min-width: $screen-lg) {
    font-weight: $light;
    font-size: $font-size-giant;
    line-height: 1.2em;
    padding-top: 17px;

  }
}
