.features {
  text-align: center;
}

.features__promo {
  font-size: $font-size-title;
  font-weight: $light;
}

.features__title {
  font-size: $font-size-big;
  font-weight: $bold;
  color: $font-color-third;
}

.features__descr {
  font-weight: $light;
}
