.field-text {
  display: block;
  margin-bottom: 21px;

  @media (min-width: $screen-md) {
    margin-bottom: 43px;
  }

  &--flex-row {

    @media (min-width: $screen-md) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &--flex-reverse  {

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

.field-text__name {
  display: block;
  font-size: $font-size;
  text-transform: uppercase;
  color: $main-color;
  margin-left: 22px;

  @media (min-width: $screen-md) {
    margin-top: 14px;
    margin-left: 18px;
  }

  &--flex-el {

    @media (min-width: $screen-md) {
      margin-right: 20px;
      margin-left: 0;
    }
  }
}

.field-text__input {
  width: 100%;
  font-size: $font-size-big;
  line-height: 1.667em;
  border: 2px solid $grey-lighter;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 19px;
  border-radius: 2px;

  &:focus {
    outline: none;
    border-color: $main-color;
  }

  &:hover {
    border-color: $font-color-main;
  }

  &--flex-el {

    @media (min-width: $screen-md) {
      flex-grow: 1;
    }
  }

  &--small  {
    width: 100%;

    @media (min-width: $screen-md) {
      width: 439px;
    }

    @media (min-width: $screen-lg) {
      width: 313px;
    }
  }
}

.field-text__input-wrap {
  display: block;
  margin-top: 10px;

  @media (min-width: $screen-md) {
    margin-top: 15px;
  }

  &--flex-el {

    @media (min-width: $screen-md) {
      flex-grow: 1;
    }
  }

  &--grey-bg  {

    @media (min-width: $screen-md) {
      background-color: $grey-lighter;
      width: 500px;
      height: 100%;
    }

    @media (min-width: $screen-lg) {
      width: 375px;
    }
  }

  &--icon  {

    @media (min-width: $screen-md) {
      position: relative;
    }

    &:after {

      @media (min-width: $screen-md) {
        position: absolute;
        content: "";
        width: 35px;
        height: 35px;
        top: 12px;
        right: 16px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &--icon-phone {

    &:after{

      @media (min-width: $screen-md) {
        background-image: url("../img/icon-phone.svg");
        background-size: 20px 20px;

      }
    }
  }

  &--icon-mail {

    &:after {

      @media (min-width: $screen-md) {
        background-image: url("../img/icon-mail.svg");
        background-size: 18px 14px;
      }
    }
  }
}

.field-text__input::-webkit-input-placeholder {
  color: $font-color-main;
}

.field-text__input:-moz-placeholder {
  color: $font-color-main;
}

.field-text__input::-moz-placeholder {
  color: $font-color-main;
}

.field-text__input:-ms-input-placeholder {
  color: $font-color-main;
}

.field-text__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.field-text__input:focus:-moz-placeholder {
  color: transparent;
}

.field-text__input:focus::-moz-placeholder {
  color: transparent;
}

.field-text__input:focus:-ms-input-placeholder {
  color: transparent;
}

.field-text__textarea {
  width: 100%;
  border: none;
  border: 2px solid $grey-lighter;
  border-radius: 2px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 10px;
  font-size: $font-size-big;
  line-height: 1.667em;
  height: 203px;
  resize: vertical;
  overflow: auto;
  margin-top: 14px;

  @media (min-width: $screen-md) {
    width: 499px;
    height: 193px;
  }

  @media (min-width: $screen-lg) {
    height: 126px;
    width: 820px
  }
}

.field-text__textarea:focus {
  outline: 0;
}

.field-text__textarea::-webkit-input-placeholder {
  color: $font-color-main;
}

.field-text__textarea:-moz-placeholder {
  color: $font-color-main;
}

.field-text__textarea::-moz-placeholder {
  color: $font-color-main;
}

.field-text__textarea:-ms-input-placeholder {
  color: $font-color-main;
}

.field-text__textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.field-text__textarea:focus:-moz-placeholder {
  color: transparent;
}

.field-text__textarea:focus::-moz-placeholder {
  color: transparent;
}

.field-text__textarea:focus:-ms-input-placeholder {
  color: transparent;
}
