.field-range {

  @media (min-width: $screen-sm) and (max-width: $screen-md) {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @media (min-width: $screen-md) {
    display: block;
    flex-grow: 1;
  }
}

.field-range__input-wrap {
  position: relative;
}


.field-range__input {
  align-self: center;
  padding: 0;
  width: 100%;
  height: 2em;
  border-radius: 0.25rem;
  border: 0;
  background: none;
  font-size: inherit;
  cursor: pointer;
  appearance: none;

  &::-webkit-slider-runnable-track,
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

  &::-webkit-slider-runnable-track {
    box-sizing: border-box;
    width: 100%;
    height: 2px;
    background: $font-color-main;
  }

  &::-moz-range-track {
    box-sizing: border-box;
    width: 100%;
    height: 2px;
    background: $font-color-main;
  }

  &::-ms-track {
    box-sizing: border-box;
    width: 100%;
    height: 2px;
    background: $font-color-main;
    color: transparent;
  }

  &::-webkit-slider-thumb {
    margin-top: -0.50em;
    box-sizing: border-box;
    padding: 0;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    box-shadow: none;
    cursor: ew-resize;
    background: $bg-second;
    border: 2px solid $main-color;

    &:active {
      background: $main-color;
    }
  }

  &::-moz-range-thumb {
    box-sizing: border-box;
    padding: 0;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    box-shadow: none;
    cursor: ew-resize;
    background: $bg-second;
    border: 2px solid $main-color;

    &:active {
      background: $main-color;
    }
  }

  &::-ms-thumb {
    box-sizing: border-box;
    padding: 0;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    box-shadow: none;
    cursor: ew-resize;
    background: $bg-second;
    border: 2px solid $main-color;

    &:active {
      background: $main-color;
    }
  }

  &::-ms-fill-lower,
  &::-ms-tooltip {
    display: none;
  }
}
