.filter-form {
  background-color: $bg-second;

  @media (min-width: $screen-lg) {
    width: 940px;
    margin: 0 auto;
  }
}

.filter-form__inner {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $screen-md) {
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $screen-lg) {
    width: 801px;
    margin: 0 auto;
  }
}

.filter-form__photo-edit {

  @media (min-width: $screen-md) {
    display: flex;
    justify-content: space-between;
  }
}


.filter-form__photo {

  @media (min-width: $screen-md) {
    flex-basis: 300px;
  }
}

.filter-form__wrapper {

  @media (min-width: $screen-md) {
    flex-basis: 279px;
  }

  @media (min-width: $screen-lg) {
    flex-basis: 410px;
  }
}
