.filter-form {
  background-color: $bg-second;

  @media (min-width: $screen-lg) {
    width: 940px;
    margin: 0 auto;
  }
}

.filter-form__inner {
  width: 280px;
  margin: 0 auto;
  padding-top: 19px;
  padding-bottom: 29px;

  @media (min-width: $screen-md) {
    width: 620px;
    margin: 0 auto;
    padding-top: 58px;
    padding-bottom: 15px;
  }

  @media (min-width: $screen-lg) {
    width: 801px;
    margin: 0 auto;
    padding-bottom: 55px;
  }
}

.filter-form__photo-edit {

  @media (min-width: $screen-md) {
    display: flex;
    justify-content: space-between;
  }
}


.filter-form__photo {
  margin-bottom: 40px;

  @media (min-width: $screen-md) {
    flex-basis: 300px;
  }

  @media (min-width: $screen-lg) {
    margin-bottom: 0;
  }
}

.filter-form__wrapper {

  @media (min-width: $screen-md) {
    flex-basis: 272px;
  }

  @media (min-width: $screen-lg) {
    flex-basis: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.filter-form__buttons {
  margin-top: 67px;

  @media (min-width: $screen-md) {
    margin-top: 28px;
  }

  @media (min-width: $screen-lg) {
    display: flex;
    justify-content: space-between;
  }
}


.filter-form__filter {
  width: 80px;
  height: 80px;
  background-color: pink;
  text-align: center;

  @media (min-width: $screen-md) {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.filter-form__filters {
  display: flex;
  padding-bottom: 60px;
  position: relative;
  justify-content: space-around;

  @media (min-width: $screen-md) {
    display: flex;
    flex-direction: column;
  }
}

