.form__step {
  padding: 0;
  margin: 0;
  padding-bottom: 40px;
  box-sizing: border-box;

  @media (min-width: $screen-lg) {
    flex-basis: 100%;
  }

  &--bg-grey {
    background-color: $bg-second;

    @media (min-width: $screen-md) {
      background-color: $bg-main;
    }
  }
}

.form__step:last-child .form__step-inner {

  @media (min-width: $screen-md) {
    display: flex;
    justify-content: space-between;
  }
}

.form__step-inner {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $screen-md) {
    width: auto;
    margin: 0;
  }
}

.form__step-title {
  font-size: $font-size;
  text-transform: uppercase;
  font-weight: $normal;
  text-align: center;
  color: $main-color;
}

.form__container {

  @media (min-width: $screen-md) {
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $screen-lg) {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
}

.form .form__step:nth-child(2),
.form .form__step:nth-child(3) {

  @media (min-width: $screen-lg) {
    flex-basis: 50%;
  }
}



