.gallery__inner {
  padding-top: 14px;
}

.gallery__intro {
  text-align: center;
  padding-right: 35px;
  padding-left: 35px;
  padding-bottom: 53px;
  padding-top: 25px;
}

.gallery__text {
  line-height: 30px;
}

.gallery__photo--panorama {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  width: 320px;
  z-index: 100;

}

.gallery__item-label {
  position: absolute;
  background-color: $main-color;
  font-size: $font-size-small;
  font-weight: $bold;
  text-transform: uppercase;
  color: $font-color-second;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 6px;
  padding-top: 6px;
  line-height: 24px;
  top: 0;
  left: 50%;
}


.gallery__item-comment {

  &--bg-gray {
    background-color: $bg-second;
  }

  &--panorama {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.gallery__item-inner {
  padding-left: 20px;
  padding-right: 20px;
}

.gallery__comment-container {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  text-align: left;
}

.gallery__item {
   margin-bottom: 20px;
}

.gallery__comment-time {
  font-size: $font-size-small;
  text-transform: uppercase;
  font-weight: $light;
}

.gallery__comment-author-name {
  font-weight: $bold;
}

.gallery__comment {
  line-height: 24px;
}
