.gallery__inner {
  padding-top: 14px;
}

.gallery__intro {
  text-align: center;
  padding-right: 35px;
  padding-left: 35px;
  padding-bottom: 53px;
  padding-top: 25px;
}

.gallery__items-wrap {

  @media (min-width: $screen-md) {
    width: 620px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $screen-lg) {
    width: 940px;
    margin: 0 auto;
  }

}
