.like {
  position: relative;
  padding-left: 33px;

  &:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url('../img/icon-heart.svg');
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    bottom: 6px;

    @media (min-width: $screen-md) {
      right: 0;
    }
  }
}

.like__text {
  font-size: $font-size-small;
  text-transform: uppercase;
  color: $main-color;
  line-height: 2em;

  @media (min-width: $screen-md) {
    margin-top: 0;
  }
}

.like__count {
  font-size: $font-size-small;
  text-transform: uppercase;
  color: $main-color;
  line-height: 2em;
}
