.logo {
  margin: 0 auto;

  @media (min-width: $screen-md) {
    margin: 0;
  }

  &:hover .logo__mobile-tablet {
    fill: $main-color;
  }

  &:active .logo__mobile-tablet {
    fill: $font-color-main;
    opacity: 0.3;
  }

  &:hover .logo__desktop {

    @media (min-width: $screen-lg) {
      fill: $main-color;
    }
  }

  &:active .logo__desktop {
    @media (min-width: $screen-lg) {
      fill: $font-color-main;
      opacity: 0.3;
    }
  }
}

.logo__desktop {
  display: none;

  @media (min-width: $screen-lg) {
    display: block;
  }
}

.logo__mobile-tablet {
  fill: $font-color-main;

  @media (min-width: $screen-lg) {
    display: none;
  }
}
