.logo {
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;

  @media (min-width: $screen-md) {
    margin: 0;
  }

  &:hover:not(:active) .logo__mobile-tablet {
    fill: $main-color;
  }

  &:hover:not(:active) .logo__desktop {

    @media (min-width: $screen-lg) {
      fill: $main-color;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.logo__desktop {
  display: none;

  @media (min-width: $screen-lg) {
    display: block;
  }
}

.logo__mobile-tablet {
  fill: $font-color-main;

  @media (min-width: $screen-lg) {
    display: none;
  }
}

.logo__svg {
  pointer-events: none;
}
