.main-page-footer {
  position: relative;
}

.main-page-footer__container {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $bg-main;
  padding-bottom: 0;
  text-align: center;

  @media (min-width: $screen-md) {
    font-size: 0;
  }

  &--no-padding-top  {

    @media (min-width: $screen-md) {
      padding-top: 0;
    }
  }
}

.main-page-footer__content-wrap {
  @include container;

  @media (min-width: $screen-md) {
    font-size: 0;
  }
}
