.main-nav {
  flex-basis: 100%;
  display: none;

  @media (min-width: $screen-lg) {
    display: flex;
    align-items: center;
  }
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $screen-lg) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.main-nav__item {
  border-top: 1px solid $border-light;
  border-bottom: 1px solid $border-dark;

  @media (min-width: $screen-lg) {
    border: none;
    margin-left: 82px;
  }
}

.main-nav__link {
  display: block;
  padding: 15px;
  color: $font-color-second;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.778em;
  font-size: $font-size-big;
  font-weight: $bold;
  text-align: center;

  @media (min-width: $screen-lg) {
    padding: 0;
    color: $font-color-second;
    text-transform: initial;
    text-decoration: none;
    line-height: 1.778em;
    font-size: $font-size-big;
    font-weight: $normal;
    text-align: center;
  }
}

.main-nav__item-inner {
  width: 280px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $screen-md) {
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $screen-lg) {
    width: auto;
  }
}
