.main-page-footer {
  position: relative;
}

.main-page-footer__content-wrap {
  @include container;
  padding-top: 44px;
  padding-bottom: 10px;
  text-align: center;

  @media (min-width: $screen-md) {
    font-size: 0;
    padding-top: 46px;
    padding-bottom: 0;
  }

  @media (min-width: $screen-lg) {
    padding-top: 73px;
    padding-bottom: 0;
  }
}

.main-page-footer__inner {
  width: 100%;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 75px;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 110% auto;
    bottom: -74px;
    left: 0;
    background-color: transparent;
    z-index: 100;

    @media (min-width: $screen-md) {
      height: 112px;
      bottom: -104px;
    }

    @media (min-width: $screen-lg) {
      height: 169px;
      bottom: -165px
    }
  }
}

.main-page-footer__promo {
  font-size: $font-size-title;
  font-weight: $light;
  margin-bottom: 5px;
  line-height: 1.2em;

  @media (min-width: $screen-md) {
    font-size: $font-size-super-big;
    line-height: 1.2em;
  }

  @media (min-width: $screen-lg) {
    font-size: $font-size-giant;
    line-height: 1em;
  }
}

.main-page-footer__promo-wrap {
  margin-bottom: 20px;

  @media (min-width: $screen-md) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $screen-lg) {
    padding-left: 120px;
    padding-right: 120px;
  }
}
