.main-nav {
  flex-basis: 100%;
  display: none;

  @media (min-width: $screen-lg) {
    display: flex;
    align-items: center;
  }
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid $border-dark;

  @media (min-width: $screen-lg) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 0;
  }
}

.main-nav__item {
  border-top: 1px solid $border-light;
  border-bottom: 1px solid $border-dark;

  @media (min-width: $screen-lg) {
    border: none;
    margin-left: 82px;
  }
}

.main-nav__link {
  display: block;
  padding: 15px;
  color: $font-color-second;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.778em;
  font-size: $font-size-big;
  font-weight: $bold;
  text-align: center;

  &:hover {
    color: $main-color;
  }

  &:active {
    color: $main-color;
    opacity: 0.3;

    @media (min-width: $screen-lg) {
      color: $font-color-second;
      opacity: 0.3;
    }
  }

  @media (min-width: $screen-lg) {
    padding: 0;
    color: $font-color-second;
    text-transform: initial;
    text-decoration: none;
    line-height: 1.778em;
    font-size: $font-size-big;
    font-weight: $normal;
    text-align: center;
  }

  &--active {
    position: relative;

    &:after {

      @media (min-width: $screen-lg) {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $bg-main;
        left: 0;
        bottom: -5px;
      }
    }

    &:hover {

      &:after {

        @media (min-width: $screen-lg) {
          background-color: $main-color;
        }
      }
    }

    &:active {

      @media (min-width: $screen-lg) {
        color: $main-color;
        opacity: 1;
      }

      &:after {

        @media (min-width: $screen-lg) {
          background-color: $main-color;
          opacity: 1;
        }
      }
    }
  }
}


.main-nav__item-inner {
  width: 280px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $screen-md) {
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $screen-lg) {
    width: auto;
  }
}
