.page-footer__container {
  text-align: center;
  @include container;

  &--hide {
    display: none;
  }

  @media (min-width: $screen-md) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__copyright {
  color: $font-color-main;
}
