.page-header {
  background-color: $header-color;
  min-height: 236px;
}

.page-header__container {

  &--main {
    min-height: 992px;
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-md) {
      min-height: 985px;
      justify-content: flex-start;
    }
  }
}

.page-header__wrapper {
   @include container;
}

