.page-footer__container {
  text-align: center;
  @include container;
  padding-top: 32px;

  &--hide {
    display: none;
  }

  @media (min-width: $screen-md) {
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
  }

  @media (min-width: $screen-lg) {
    padding-top: 100px;
  }

  &--padding-top  {

    @media (min-width: $screen-lg) {
      padding-top: 35px;
    }
  }

  &--top-padding {

    @media (min-width: $screen-lg) {
      padding-top: 71px;
    }
  }
}

.page-footer__copyright {
  color: $font-color-main;
  margin-bottom: 40px;

  @media (min-width: $screen-md) {
    align-self: center;
  }
}

.page-footer__copyright-logo {
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;

  &:hover .page-footer__copyright-logo-svg {
    fill: $font-color-main;
  }

  &:active .page-footer__copyright-logo-svg {
    fill: $grey-light;
  }
}


.page-footer__copyright-logo-svg {
  fill: $main-color;
}

.page-footer__social {

  @media (min-width: $screen-md) {
    margin-left: -26px;
  }
}
