.page-header-logo {
  width: 76px;
  height: 25px;
  pointer-events: none;

  @media (min-width: $screen-md) {
    width: 150px;
    height: 45px;
  }
}

.page-header-logo__mobile {
  fill: $bg-main;

  @media (min-width: $screen-md) {
    display: none;
  }
}

.page-header-logo__tablet {
  display: none;

  @media (min-width: $screen-md) {
    fill: $bg-main;
    display: block;
  }

  @media (min-width: $screen-lg) {
    display: none;
  }
}

.page-header-logo__desktop {
  display: none;

  @media (min-width: $screen-lg) {
    fill: $bg-main;
    display: block;
  }
}
