.page-footer__container {
  text-align: center;
  @include container;
  padding-top: 32px;

  &--hide {
    display: none;
  }

  @media (min-width: $screen-md) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $screen-lg) {
    padding-top: 100px;
  }
}

.page-footer__copyright {
  color: $font-color-main;
  margin-bottom: 40px;

  @media (min-width: $screen-md) {
    align-self: center;
  }
}
