.pagination {
  text-align: center;
  font-size: 0;
  margin-top: 10px;
  padding-top: 12px;

  @media (min-width: $screen-md) {
    padding-top: 0;
  }
}

.pagination__link {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  width: 6px;
  height: 6px;
  background-color: $grey-light;
  border-radius: 50%;

  &:hover {
    background-color: $grey-dark;
  }

  &:active {
    background-color: $grey-lightest;
  }
}

.pagination__item {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  margin-left: 4px;
  margin-right: 4px;

  &--active span {
    background-color: $bg-main;
    width: 12px;
    height: 12px;
    border: 3px solid $font-color-main;

    &:hover {
      background-color: $bg-main;
    }

    &:active {
      background-color: $bg-main;
    }
  }
}
