.promo {
  margin-top: 48px;
  text-align: center;
}

.promo__title {
  font-size: $font-size-title;
  font-weight: $light;
  color: $font-color-second;
  padding-left: 20px;
  padding-right: 20px;
}
