.reviews {
  text-align: center;

}

.reviews__container {
  padding-top: 7px;
  padding-right: 7px;
  padding-left: 7px;
  padding-bottom: 70px;

  @include container;

  @media (min-width: $screen-lg) {
    padding-top: 67px;
  }
}
