.reviews {
  text-align: center;

}

.reviews__container {
  padding-top: 15px;
  padding-bottom: 15px;
  @include container;

  @media (min-width: $screen-lg) {
    padding-top: 67px;
    position: relative;
  }

  &:before {

    @media (min-width: $screen-lg) {
      content: '';
      position: absolute;
      width: 200px;
      height: 105px;
      background-image: url('../../img/icon-quotes.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 78px 63px;
      top: 49px;
      left: 373px;
    }
  }
}

.reviews__tab {
  display: none;

  @media (min-width: $screen-lg) {
    display: block;
    position: absolute;
    width: 30px;
    height: 50px;
    cursor: pointer;
  }


  &--previous {

    @media (min-width: $screen-lg) {
      left: 0;
      top: 209px;
    }
  }


  &--next {

    @media (min-width: $screen-lg) {
      right: -9px;
      top: 209px;
    }
  }

  &:hover .reviews__tab-svg {
    fill: $grey-dark;
  }

  &:active .reviews__tab-svg {
    fill: $grey-lightest;
  }
}
