.review {
  margin-top: 40px;
  margin-left: 0;
  margin-right: 0;

  @media (min-width: $screen-md) {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
}

.review:nth-child(n+2) {
  display: none;
}

.review__author {
  font-size: $font-size-big;
  font-weight: $bold;
  color: $font-color-third;

  @media (min-width: $screen-md) {
    order: 2;
  }
}

.review__text {
  color: $font-color-main;
  font-size: $font-size;
  line-height: 2.143em;

  @media (min-width: $screen-md) {
    order: 1;
    font-size: $font-size-big;
    line-height: 1.667em;
  }
}

.review__author-about {
  display: none;

  @media (min-width: $screen-md) {
    display: block;
    color: $font-color-main;
    font-weight: $normal;
    font-size: $font-size;
    line-height: 2.143em;
    margin-top: 0;
  }
}


.review__author-name {

  @media (min-width: $screen-md) {
    font-size: $font-size-medium;
    color: $font-color-main;
    line-height: 1.500em;
    margin-bottom: 5px;

  }
}
