.social-btn {
  display: inline-block;
  width: 52px;
  height: 52px;
  margin: 0;
  font-size: 0;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  background-color: $bg-main;
  border: 3px solid $grey-lightest;
  border-radius: 50%;
  margin-bottom: 42px;
  margin-left: 5px;
  margin-right: 5px;
}
