.social-btn {
  display: inline-block;
  width: 52px;
  height: 52px;
  margin: 0;
  font-size: 0;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  background-color: $bg-main;
  border: 3px solid $grey-lightest;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  position: relative;

  @media (min-width: $screen-md) {
    margin-bottom: 0;
  }

  &:before {
    position: absolute;
    content: '';
    width: 33px;
    height: 33px;
    top: 7px;
    left: 7px;
  }

  &:hover {
    border-color: $font-color-main;
  }

  &:active {
    opacity: 0.1;
  }
}

.social-btn--twitter {

  &:before {
    background-image: url('../img/icon-twitter.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 15px;
  }
}

.social-btn--facebook {

  &:before {
    background-image: url('../img/icon-facebook.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7px 19px;
  }
}

.social-btn--youtube {

  &:before {
    background-image: url('../img/icon-youtube.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 14px;
  }
}
