.social-btn {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin: 0;
  font-size: 0;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  background-color: $bg-main;
  border: 3px solid $grey-lightest;
  border-radius: 50%;
}
