.tariffs {
  background-color: $bg-second;
}

.tariffs__container {
  padding-top: 67px;
  padding-bottom: 39px;
  overflow: hidden;

  @media (min-width: $screen-md) {
    overflow: visible;
    padding-top: 32px;
    padding-bottom: 23px;
  }
}
