.tariffs {
  background-color: $bg-second;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100px;
    background-image: url('../../img/bg-triangle-white.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    top: -100px;
    left: 0;
    transform: rotate(180deg);
  }
}

.tariffs__container {
  padding-top: 67px;
  padding-bottom: 39px;
  overflow: hidden;

  @media (min-width: $screen-md) {
    overflow: visible;
    padding-top: 32px;
    padding-bottom: 23px;
  }

  @media (min-width: $screen-lg) {
    padding-top: 80px;
    padding-bottom: 23px;
  }
}
