.visually-hidden {
  display: none;

  @media (min-width: $screen-md) {
      display: none;
    }

  @media (min-width: $screen-lg) {
      display: none;
    }


  &--sm {

    @media (min-width: $screen-md) {
      display: block;
    }

    @media (min-width: $screen-lg) {
      display: block;
    }
  }

  &--sm-inline {

    @media (min-width: $screen-md) {
      display: inline;
    }

    @media (min-width: $screen-lg) {
      display: inline;
    }
  }

  &--lg {
    display: block;

    @media (min-width: $screen-md) {
      display: block;
    }

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &--md-lg {
    display: block;

    @media (min-width: $screen-md) {
      display: none;
    }

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &--sm-md {
    display: none;

    @media (min-width: $screen-md) {
      display: none;
    }

    @media (min-width: $screen-lg) {
      display: block;
    }
  }

  &--md-lg-inline {
    display: inline;

    @media (min-width: $screen-md) {
      display: none;
    }

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &--sm-md-inline {
    display: inline;


    @media (min-width: $screen-md) {
      display: inline;
    }

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &--lg-inline {
    display: none;

    @media (min-width: $screen-md) {
      display: none;
    }

    @media (min-width: $screen-lg) {
      display: inline;
    }
  }
}
